<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
  </head>
  <body style="padding: 0px; margin: 0px;">
    <div id="page" style="width: 100vw; height: 100vh; overflow: hidden;"></div>
    <style>
      * { box-sizing: border-box; }
    </style>
    <script src="js/<%= pageId %>.js"></script>
  </body>
</html>